---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const posts = await getCollection(
  "blog",
  ({ data }) => !data.draft
);

posts.sort(
  (a, b) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const featured = posts[0];
---

<section class="featured container">

  <div class="featured-card">

    <div class="featured-image">

    {featured.data.image && (
  <Image
    src={featured.data.image}
    alt={featured.data.imageAlt || featured.data.title}
    width={1200}
    height={630}
    loading="eager"
    fetchpriority="high"
    format="webp"
    sizes="100vw"
  />
)}
    </div>

    <div class="featured-content">

      <span class="featured-badge">
        ⭐ Featured Article
      </span>

      <h2>
        {featured.data.title}
      </h2>

      <p>
        {featured.data.description}
      </p>

      <div class="post-meta">

        <span>
          👤 {featured.data.author}
        </span>

        <span>
          📅 {featured.data.pubDate.toLocaleDateString("en-IN")}
        </span>

      </div>

      <a
        class="btn"
        href={`/${featured.id}`}
      >
        Read Full Article →
      </a>

    </div>

  </div>

</section>